fastapi==0.95.2
pydantic<2.0.0
geocoder==1.38.1
python-dotenv==1.0.1
azure-mgmt-compute>=1.0.0,<2.0.0
azure-mgmt-storage>=1.0.0,<2.0.0
azure-mgmt-resource>=1.0.0,<2.0.0
azure-keyvault-secrets>=4.0.0
azure-storage-blob>=1.0.0,<2.0.0
azure-maps-search==2.0.0b1
azure-core==1.31.0
httpx
groq
pytest
pytest-asyncio==0.23.5
uvicorn